{% extends "base_bulma.html" %}
{% load static %}
{% load bulma_tags %}
{% block title %}
    Démo Bulma
{% endblock title %}
{% block content %}
    <form action="{% url 'bulma-demo' %}" method="post">
        {% csrf_token %}
        {{ prompt_form|bulma }}
        <div class="field">
            <div class="control">
                <input type="submit" class="button is-link" value="OK" />
            </div>
        </div>
    </form>
    <ul>
        {% for promt in prompts %}<li>Query: {{ promt.query }} - Reply: {{ promt.reply }}</li>{% endfor %}
    </ul>
{% endblock content %}
